{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
{% for film in films %}
<article>
    <h2><a class="filmTitle" href="{{ path('film', { 'id': film.id }) }}">{{ film.title }}</a></h2>
    <p>{{ film.content }}</p>
</article>
{% endfor %}
{% endblock %}